#loggedInContent {
position: absolute;
top: 0px;
left: 0px;
padding: 5px;
background: whitesmoke;
width: 100vw;
height: 100vh;
}


#userFab {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 80px;
	height: 80px;
	text-align: center;
	z-index: 300;
}


#mapMenu {
	position: fixed;
	top: 100px;
	right: 30px;
	width: 230px;
	height: 70px;
	z-index: 100;
}

#logoSm {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
	background: url('../img/logo.png');
	background-size: cover;
	z-index: 100;
}

#map_canvas {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}


.map-icon-label .map-icon {
	font-size: 20px;
	color: white;
	line-height: 50px;
	text-align: center;
	white-space: nowrap;
}
#placeTimes {
	font-size: small;
}


.card200 {
	height: 280px;
}
.reviewSection {
	max-height: 150px;
	overflow-y: scroll;
	font-size: small;
}

.mt-10 {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 10px;
}

#results {
	margin-top: 80px;
}
#marker-tooltip {
	display: none;
	position: absolute;
	margin: 15px;
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
}
#infoCard {
	height: 100%;
}
#pills-route {
		width: 100%;
	background: lightgrey;
}
/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
	visibility: hidden;
	/* Hidden by default. Visible on click */
	min-width: 250px;
	/* Set a default minimum width */
	margin-left: -125px;
	/* Divide value of min-width by 2 */
	background-color: #333;
	/* Black background color */
	color: #fff;
	/* White text color */
	text-align: center;
	/* Centered text */
	border-radius: 2px;
	/* Rounded borders */
	padding: 16px;
	/* Padding */
	position: fixed;
	/* Sit on top of the screen */
	z-index: 1;
	/* Add a z-index if needed */
	left: 50%;
	/* Center the snackbar */
	bottom: 30px;
	/* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
	visibility: visible;
	/* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}
@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}